<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6">
      </div>
      <div class="col-md-6 col-sm-6">
        <p class="pull-right">OnDemand version: <%= Configuration.ood_version %> | Dashboard version: <%= Configuration.app_version %></p>
      </div>
    </div>
  </div><!-- /.container -->
</footer>
